<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      // Promise.resolve(1)
      //   .then(res => {
      //     console.log(res)
      //     return res
      //   })
      //   .catch(err => {
      //     return 3
      //   })
      //   .then(res => {
      //     console.log(res)
      //   })
      // Promise.resolve(1).then(2).then(Promise.resolve(3)).then(console.log)
      console.log(typeof Promise.resolve(1).then(2))
    </script>
  </body>
</html>
